@import url(https://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic&subset=latin,latin-ext);

.reveal {
	font-size: 25px;
	background: #272822;
	color: #f5f4f1;
}

.reveal .progress span {
	background: #a6e22e;
	padding-bottom: 20px;
}

.reveal h1, .reveal h2, .reveal h3 {
	color: #f5f4f1;
	font-weight: bold;
	font-family: 'Economica', sans-serif;
	font-size: 2.5em;
}

.reveal h4, .reveal h5, .reveal h6, .reveal p, .reveal li {
	color: #a59f85;
	font-family: 'Economica', sans-serif;
}

.reveal p, .reveal li {
    font-size: 1.3em;
}

.reveal a {
    color: #a6e22e;
}
.reveal a:hover {
    color: #a6e22e;
}

/* .reveal img, .reveal video, .reveal iframe {
    max-width: 35%;
    max-height: 35%;
} */

.reveal blockquote {
    margin: 0 0 0 4em;
    padding: 0.1em 0.5em;
    quotes: '„' '”'; 
    font-style: italic;
    font-size: 1.1em;
    box-shadow: 0 0 0;
    background: #383830;
}

.reveal blockquote > p {
    text-align: left;
    font-weight: bold;
    color: #f4bf75;
}

.reveal blockquote > p:before { content: "»" }
.reveal blockquote > p:after  { content: "«" }

.reveal figcaption { display: none; }

table {
    color: #f5f4f1;
}

.reveal section img {
	border: 0.5em solid #383830;
}

.bgvideo h1 {
    font-size: 4.5em;
    background-color: rgba(15, 16, 13, 0.8);
    margin-left: 20%;
    margin-right: 20%;
}

.speaker-controls-notes {
    font-size: 0.5em;
}

.speaker-controls-notes .value li {
    font-size: 11px;
}

/* ELEMENT STYLES */

/* makes fragment images overlapping */
section img.fragment {
  float: left;
  margin-right: -60%;
  width: 60%;
}

/* highlight with colorized areas */
section div.fragment.highlight {
  z-index: 2;
  position: absolute;
  opacity: 0.2
}

/* DIFFERENT SLIDE LAYOUTS */

/* full slide image */
.layout-full-img .reveal section img {
  border: 0;
  box-shadow: none;
  max-height: 80%;
  max-width: 80%;
}


/* STATE THEMES */

/* front theme */

p.event {
  color: #a59f85;
  font-size: 1.9em;
  font-weight: bold;
}

p.signature {
  color: #a59f85;
  font-size: 1em;
}

/* blue theme */

.bluetheme .reveal h1, .bluetheme .reveal h2, .bluetheme .reveal h3 {
  color: #66d9ef;
}

.bluetheme .progress span {
	background: #66d9ef;
}

.bluetheme .reveal blockquote {
  background-color: #66d9ef;
  color: #272822;
}

/* green theme */

.greentheme .reveal h1, .greentheme .reveal h2, .greentheme .reveal h3 {
  color: #a6e22e;
}

.greentheme .progress span {
	background: #a6e22e;
}

.greentheme .reveal blockquote {
  background-color: #a6e22e;;
  color: #272822;
}

/* lila theme */

.lilatheme .reveal h1, .lilatheme .reveal h2, .lilatheme .reveal h3, .lilatheme .reveal h4, .lilatheme .reveal h5, .lilatheme .reveal h6, .lilatheme .reveal p, .lilatheme .reveal li {
  color: #ae81ff;
}

.lilatheme .progress span {
	background: #ae81ff;
}

.lilatheme .reveal blockquote {
  background-color: #ae81ff;;
  color: #272822;
}

/* red theme */

.redtheme .reveal h1, .redtheme .reveal h2, .redtheme .reveal h3, .redtheme .reveal h4, .redtheme .reveal h5, .redtheme .reveal h6, .redtheme .reveal p, .redtheme .reveal li {
  color: #f92672;
}

.redtheme .progress span {
	background: #f92672;
}

.redtheme .reveal blockquote {
  background-color: #f92672;;
  color: #272822;
}

/* orange theme */

.orangetheme .reveal h1, .orangetheme .reveal h2, .orangetheme .reveal h3, .orangetheme .reveal h4, .orangetheme .reveal h5, .orangetheme .reveal h6, .orangetheme .reveal p, .orangetheme .reveal li {
  color: #fd971f;
}

.orangetheme .progress span {
	background: #fd971f;
}

.orangetheme .reveal blockquote {
  background-color: #fd971f;;
  color: #272822;
}

